*,
*::before,
*::after {
    box-sizing: border-box;
}

html,body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    color: #000;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

img {
    max-width: 100%;
    height: 100%;
}

.container-fluid {
    max-width: 1440px;
}

@media only screen and (max-width: 425px) {

p {
    font-size: 14px !important;
}
}

.no-before {
    &::before {
        content: "";
        background-image: none !important;
    }
}
.list-style-type {

    &::before {
        content: "";
        background: url('../../assets/images/rooms/new-moon.png');
        width: 8px;
        height: 8px;
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
    }
    padding: 10px 20px !important;
    font-size: 16px;
}