*,
*::before,
*::after {
    box-sizing: border-box;
}

html,body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    color: #000;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

img {
    max-width: 100%;
    height: 100%;
}