@import 'main';

$orange: #106c8e;
$green: #2d4d3a;
body {
    display: none;
}
.property-name {
    width: 150px;
    height: 150px;
}


.blue-text {
    color: $orange !important;
}

.mobile-logo-img {
    display: none;
}
nav {
    display: flex;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    color: #fff;
    font-family: "Centra No2";
}

header {
    max-width: 1440px;
    margin: auto;
    font-family: "Centra No2";
    color: #fff;
}

/*Hero Section */
.hero {
    position: relative;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.cover-image {
    position: absolute;
    background-image: url('../images/First\ Fold.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    filter: brightness(0.6);
    height: 100%;
    z-index: -1;
}

.cover-image.contact {
    background-image: url('../images/contact-cover.jpg');
}
.contact .about-writeup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 70%;
    margin-bottom: 20px;

    .top-headline {
        text-align: center;
        color: #000;
        text-transform: none;
        margin-bottom: 20px;
    }
}

/*----------SUITES -------------*/
.cover-image.suites-pool {
    background-image: url('../images/accomodations/room-pool-unsplash.jpg');
}

.suite {
    .top-headline {
        width: 70%;
        margin: auto;
    }
}

.room-features-list {

    .room-features {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .key-highlight {
        align-items: end;

        img {
            width: 25px;
            height: 25px;
        }
    }
}

.room-features-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin: 20px 0;
}

.swiper-container {
    margin-top: 0 !important;
}

.homepage-slider.swiper-container {
    margin-top: -5% !important;
}

.room-summary {
    p.subtitle {
        color: #000;
    }
}

.img-container-rooms {
    display: flex;
}

.about-img-left {
    display: flex;
    justify-content: center;
    @extend .dining;
}

.restaurant-img-left {
    @extend .about-img-left;
    background-image: none !important;
}

// restaurant-img-left
.about-content-right {
    p.subtitle {
        color: #000;
        width: 70%;
    }
}

.offbeat-activities {
    text-align: center;

    p.subtitle {
        color: #000;
        width: 70%;
        margin: auto;
    }
}

.things-block {
    display: flex;
    flex-direction: column;
    text-align: left;

    img {
        height: 550px;
        object-fit: cover;
    }

    p.subtitle {
        width: 100%;
    }

    p.top-text {
        margin: 20px 0;
    }
}

.things-to-do {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    gap: 100px;
    margin: auto;
    margin: 100px auto;
}

.y-axis {
    transform: translateY(25%);
}

.restaurant-hours {
    color: #000;
    text-align: center;
}

.location-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;

    p.subtitle {
        color: #000;
    }
}

.address-text {
    p.subtitle {
        color: #000;
    }
}

.map-embed {
    display: flex;
    justify-content: center;
}

/*----------SUITES -------------*/

.wrapper-class {
    max-width: 1500px;
    margin: auto;
}

.time-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.site-nav {
    width: 40%;
    justify-content: space-between;
    display: flex;
}

.local-time {
    margin-bottom: -15px;
}

#weather-icon {
    width: 30px;
    height: 30px;
}

#temp-desc {
    text-transform: capitalize;
}


input[type="text"] {
    background: transparent;
    border: none;
    color: $orange;
}

::-webkit-input-placeholder {
    /* Edge */
    color: $orange;
    font-family: "Centra No2";

}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $orange;
    font-family: "Centra No2";

}

::placeholder {
    color: $orange;
    font-family: "Centra No2";
}

.booking-block {
    background-color: #00000030;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    position: absolute;
    bottom: 0;

    form {
        display: flex;
    }
}

.form-controller {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: "Centra No2";
    border-left: 1px solid #fff;
    padding: 10px;
    margin-right: 20px;
}

select {
    background-color: transparent;
    color: $orange;
    border: none;
    width: 100px;
}

/****** Welcome Section ********/
section {
    padding-top: 100px;
    padding-bottom: 100px;
}

section.beige {
    background-color: #e5f2f2;
}

section.hero {
    padding-top: 0;
}

section.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 140px;
    padding-bottom: 0px;
    flex-direction: column;
    background-image: url('../../assets/images/welcome/blob\ \(1\).svg');
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: right top;
    .welcome-content {
        width: 70%;
    }


    .welcome-subtitle {
        margin-top: 8px;
        color: #000;
        margin-bottom: 120px;
        width: 70%;
        margin: auto;
    }
}

.floating-images {
    position: relative;
    z-index: 2;
}

.woman-floating {
    width: 250px;
    height: 250px;
    object-fit: contain;
    position: absolute;
    bottom: 0;
}

.resort {
    width: 250px;
    height: 250px;
    object-fit: contain;
    position: absolute;
    top: 30%;
    bottom: 0;
    right: -20%;
}


/*--- Booking & reservation */
.room-overview {
    display: flex;
    padding-bottom: 100px;
    flex-direction: column;
    background-color: #edece8;
}

.room-suites {
    margin: 0 50px;
}

.room-block {
    margin-bottom: 50px;

    .room-image {
        width: 100%;
    }
}

.room-img {
    position: relative;

    &:hover {
        .img__description {
            opacity: 1;
        }
    }
}

/* Media Queries for Mobile */
.img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #fff !important;
    opacity: 0;
    background-color: rgba(198, 86, 36, 0.6);
    /* transition effect. not necessary */
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.body-soul {
    background-image: url('../images/A\ foodies\ Happy\ Place.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    // background-attachment: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.body-soul.our-story {
    background-image: url('../images/About\ us\ compressed/01_compress49.jpg');

}

.body-soul.restaurant {
    background-image: url('../images/restaurant/resto-cover.jpg');
}

.body-soul.second {
    background-image: url('../images/restaurant/instead\ of\ st.jpg');
}

.dining {
    background-image: url('../images/dining/palm.jpg');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 250px;
}

.dining-text {
    width: 70%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.dining-img {
    background-image: url("../images/dining/palm.jpg");
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    /* margin-bottom: 100px; */
    background-position: center center;
    width: 80%;

}

.dining-img img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    position: absolute;
    bottom: -20%;
    right: 5%;
}


.dining .book-now-btn {
    border: 1px solid $orange;
    color: $orange;
    width: max-content;

    &:hover {
      background-color: $orange !important;
      color: #fff;
  }
}

.unforgettable-text {
    .book-now-btn {
        border: 1px solid $orange;
        color: $orange;

        &:hover {
          background-color: $orange !important;
          color: #fff;
      }
      }

    }

    .relax-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
        width: 80%;
        margin: 30px 0;

        img {
            height: 400px;
            object-fit: cover;
            filter: brightness(0.9);
            object-position: center;
            width: 100%;
            transition: all 0.3s ease-in;
            backface-visibility: hidden;
            overflow: hidden;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    .quote-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: auto;
        align-items: center;
        width: 40%;
        padding: 40px 0;
    }

    .quote {
        background-image: url('../images/dining/palm-white.svg');
        background-size: 200px;
        background-repeat: no-repeat;
        background-position: bottom left;
        background-color: #2699a5;

        .top-headline {
            color: #fff;
        }
    }

    .orange-line {
        width: 45px;
        height: 1.5px;
        margin-right: 16px;
        background-color: #106c8e;
    }

    .relax-img-container {
        overflow: hidden;
    }

    //////////* Footer *///////
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 50px 0;
        width: 80%;
        margin: auto;
        color: #000;
        padding: 100px 0;

        h4,
        p {
            color: #000;
        }
    }

    .footer-group {
        gap: 30px;
        display: flex;
        margin-bottom: 20px;
        align-items: baseline;

        .social-links-menu {
            justify-content: flex-start;
            align-items: center;
        }
    }

    .footer-info-column.center {
        display: flex;
        justify-content: center;
    }

    .footer-links {
        color: $orange;
        font-size: 20px;
        font-family: "Centra No2";
        display: flex;
        flex-direction: column;
    }

    .footer-link {
        margin-bottom: 20px;
        font-size: 14px;
    }

    a.social-icon-menu.w-inline-block:first-child {
        margin-left: 0;
    }

    .about-writeup {
        width: 70%;
        margin: auto;
        text-align: center;

        h1.top-headline {
            text-transform: none;
        }
    }

    @media only screen and (max-width: 768px) {
        .float {
            display: block;
        }

        section.welcome {
            background-image: none;
        }
        .gallery1 {
            padding: 200px 0 0 0;
        }
        .mobile-logo-img {
            display: block;
        }
        .room-highlight {
            flex-direction: column;

            .stay-details {
                max-width: 100% !important;
                margin-top: 0 !important;
                margin-left: 0 !important;
            }
        }

        .room-highlight-reverse {
            flex-direction: column !important;

            .stay-details {
                margin-right: 0 !important;
                margin-left: 0;
            }
        }

        .float {
            display: none;
            position: fixed;
            width: 50px;
            height: 50px;
            bottom: 30px;
            right: 30px;
            background-color: #25d366;
            color: #FFF;
            border-radius: 50px;
            text-align: center;
            font-size: 30px;
            box-shadow: 2px 2px 3px #999;
            z-index: 100;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .fa-whatsapp {
            color: #fff;
        }

        .about-writeup {
            h1.top-headline {
                font-size: 20px;
            }
        }

        section {
            padding: 50px 0;
        }

        .things-block {
            img {
                height: 450px;
            }
        }

        .about-content-right {
            p.top-text {
                margin: 20px 0 0 0;
            }

            p.subtitle {
                width: 100%;
                text-align: center;
                font-size: 13px;
            }
        }

        .offbeat-activities {
            p.subtitle {
                width: 100%;
                margin-bottom: 20px;
            }
        }


        .things-block {

            text-align: left;

            img {
                height: 550px;
            }

            p.subtitle {
                width: 100%;
            }

            p.top-text {
                margin: 20px 0;
            }
        }

        .things-to-do {
            grid-template-columns: 1fr;
            width: 100%;
            gap: 50px;
            margin: 0 auto;
        }

        .y-axis {
            transform: translateY(0);
        }

        nav {
            position: fixed;
            width: 100%;
            z-index: 99;
            background-color: #106c8e;
        }

        .site-nav {
            display: none;
        }

        .time-block {
            display: none;
        }

        .booking-block form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;

        }

        .booking-block {
            font-size: 12px;
        }

        .form-controller {
            margin: 10px 0;
        }

        .room-suites {
            margin: 0 30px;
        }

        /*Hero Section */
        .hero {
            height: 100vh;
        }

        .resort {
            right: 0;
        }

        .body-soul {
            height: 450px;
        }

        .dining-text {
            width: 100%;
        }

        .dining .book-now-btn {
            border: 1px solid $orange;
            color: $orange;
            width: 200px;
            margin-bottom: 30px;
            &:hover {
              background-color: $orange !important;
              color: #fff;
          }
        }

        .dining-img {
            margin: auto;
        }

        .dining {
            // background-position: top left;
            background-size: 150px;
        }

        section.welcome {
            padding: 50px 30px 0;

            .welcome-content {
                width: 100%;
            }

            .welcome-subtitle {
                margin-bottom: 50px;
                width: 100%;
                font-size: 14px;

            }
        }

    }

    @media only screen and (max-width: 500px) {
        .dining {
            background-size: 50px;
        }

        .dining-img img {
            height: 150px;
            width: 150px;
            right: 5%;
        }
        
    }
    .room-highlight {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;

        .room-background {
            display: none;
            background-image: url('../images/first-slider/slider-02.jpg');
            background-position: center;
            z-index: 0;
            width: 100%;
            height: 580px;
            max-width: 750px;
            background-repeat: no-repeat;
        }
        .room-background.tropical {
            background-image: url('../images/rooms/slide/Tropical\ Rooms-min.jpeg');
        }
        .room-background.coral {
            background-image: url('../apple-touch-icon.png');
        }

        .room-background-floral {
            background-image: url('../images/first-slider/slider-02.jpg');
            background-position: center;
            z-index: 0;
            width: 100%;
            height: 580px;
            max-width: 750px;
            background-repeat: no-repeat;
        }
        .room-background.king-reef {
            background-image: url('../images/rooms/slide/KIng\ Reef\ Suites-min.jpeg');
        }
        .room-background.ocean {
            background-image: url('../images/rooms/slide/Ocean\ Beach\ Villa-min.jpg');
        }
        .stay-details {
            display: flex;
            width: 100%;
            max-width: 600px;
            margin-top: 26px;
            padding: 32px;
            background: #fff;
            color: #000;
            flex-direction: column;
            margin-left: -5%;
            z-index: 2;
        }

    }

    .room-highlight-reverse {
        @extend .room-highlight;
        flex-direction: row-reverse;

        .stay-details {
            margin-right: -5%;
            margin-left: 0;
        }
    }

    .key-highlight {
        display: flex;
        align-items: baseline;

        img {
            margin-right: 10px;
        }
    }

    .room-tabs {
        display: none;
    }

    .room-features {
        p {
            color: #000;
        }
    }

    .info-image-container {
        display: flex !important;
    }

    .info-block-guests {
        h2 {
            color: #000;
            margin: 10px 0;
            font-family: 'Ivy-mode regular' !important;

        }
    }

    .mobile-number {
        text-decoration: underline !important;
    }

    .stroke .site-nav a {
        position: relative;
        transition: all 2s;

        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 0%;
            content: '.';
            color: transparent;
            background: #fff;
            height: 1px;
            transition: all 0.5s ease-in;
        }

        &:hover::after {
            width: 100%;
        }
    }

    @media only screen and (max-width: 450px) {
        .footer-info-column.center {
            justify-content: start;
        }

        .stay-info-image {
            height: 300px;
            display: flex;
            margin: auto;
        }
        
        .info-image-container img {
            height: 300px !important;

        }

        .prop-icon {
            margin-left: 0px;
        }

        .footer-group {
            margin-bottom: 10px;
        }

        footer {
            p {
                font-size: 16px !important;
            }
        }

        .footer-text {

            .mobile-number,
            .email-contact {
                text-decoration: underline !important;
            }
        }

        .footer-info-column.center:n {
            justify-content: end;
        }

        .resort {
            width: 200px;
            height: 200px;
            position: absolute;
            top: 0%;
            bottom: 0;
            right: 0;
        }

        .woman-floating {
            width: 200px;
            height: 200px;
        }

        .hero-subtitle {
            padding: 30px;
        }

        .relax-grid {
            grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
            grid-auto-flow: column;
            grid-auto-columns: minmax(320px, 1fr);
            overflow-x: scroll;
            gap: 0px;
            width: 100%;
        }

        .things-block {
            img {
                height: 350px;
            }
        }

        section {
            padding: 30px 0;
        }

        .welcome-subtitle {
            width: 100%;
        }

        .quote {
            background-size: 100px;
        }

        .quote-wrapper {
            width: 80%;
        }

        .dining-text {
            width: 90%;
        }

        .dining {
            background-position: top left;
        }

        // .relax-grid {
        //     display: flex;
        //     width: 100%;
        //     white-space: nowrap;
        //     overflow-x: scroll;
        // }

        .relax-block {
            white-space: normal;
            width: 90%;
            display: inline-block;
            margin-right: 20px;

        }

        section.unforgettable {
            padding: 50px 30px;
        }

        footer {
            grid-template-columns: 1fr 1fr;
            padding: 50px 30px;
            width: 100%;
        }

        .footer-group {
            flex-direction: column;
        }

        .footer-info-column.main {
            grid-column: span 2;
        }
    }